<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body>
<div class="container">
    <h2>Household Registration</h2>

    <!-- Registration form -->
     {% if not registered and not claimed  %}
        <form action="/admin/household_registration" method="post">
            <p>Please enter household name</p>
            <input type="text" name="q" required>
            <input type="submit" name="register" value="Register">
        </form>
    {% endif %}
    
    <!-- Show registration message -->
    {% if registered and not claimed %}
        <p style="color:green;">{{ message }}</p>

        <!-- Show Claim button after registration -->
        <form action="/admin/household_registration" method="post">
            <input type="hidden" name="household_id" value="{{ household_id }}">
            <input type="submit" name="claim" value="Claim">
        </form>
    {% endif %}

    <!-- Show claim message -->
    {% if claimed %}
        <p style="color:blue;">{{ message }}</p>
    {% endif %}
</div>
</body>