<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body>
<div class="container">
    <h2>CDC Redemption System</h2>
    <form action="/admin" method="post">
        <input type="submit" value="Admin System">
    </form>
    <form action="/household" method="post">
        <input type="submit" value="Household App">
    </form>
    <form action="/merchant" method="post">
        <input type="submit" value="Merchant App">
    </form>
</div>
</body>